FACTURA
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util">
<head th:replace="~{layout/layout :: head}"></head>
<body>
	<header th:replace="~{layout/layout :: header}"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<h4 class="card-title">
					<a th:href="@{'/tiendas/ver/' + ${pedido.tienda.id}}"
						class="btn btn-light btn-xs">&laquo; volver</a>
				</h4>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos de la tienda'"></li>
					<li class="list-group-item" th:text="${pedido.tienda.id}"></li>
					<li class="list-group-item" th:text="${pedido.tienda.nombre}"></li>
				</ul>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Datos del pedido'"></li>
					<li class="list-group-item" th:text="'Folio: ' + ${pedido.id}"></li>
					<li class="list-group-item"
						th:text="'Referencia: ' + ${pedido.referencia}"></li>
					<li class="list-group-item"
						th:text="'Descripción: ' + ${pedido.descripcion}"></li>
				</ul>
				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(pedido.lineas)}"
					th:text="'No hay líneas para la factura' + ${pedido.referencia}"></div>

				<table th:if="${not #lists.isEmpty(pedido.lineas)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th>Articulo</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linea: ${pedido.lineas}">
							<td th:text="${linea.articulo.tipo}"></td>
							<td th:text="${linea.articulo.precio}"></td>
							<td th:text="${linea.cantidad}"></td>
							<td th:text="${linea.calcularPrecio()}"></td>
						</tr>
					</tbody>

				</table>

				<h5 class="float-right">
					Total pedido <span th:text="${pedido.precioTotal}"
						class="badge-secondary"></span>
				</h5>

				<div class="card border-info mb-4" style="max-width: 20rem;">
					<div class="card-header">Descripción</div>
					<div class="card-body">
						<p class="card-text" th:text="${pedido.descripcion}"
							th:if="${not #strings.isEmpty(pedido.descripcion)}"></p>
						<h4 class="card-title"
							th:if="${#strings.isEmpty(pedido.descripcion)}"
							th:text="'No hay descripción'"></h4>
					</div>
				</div>

				<a th:href="@{'/tiendas/ver/' + ${pedido.tienda.id}}"
					class="btn btn-light btn-xs">&laquo; volver</a>

			</div>
		</div>

	</div>
	<footer th:replace="~{layout/layout :: footer}"></footer>

</body>
</html>